body{
  	display:flex;
    flex-direction:column;
    padding:0.5em;
    margin:0.5em;
    width: 100%;
    height: 100%;
    border: solid #008198;
    border-width: 0.5em;
    overflow:scroll;
    display:inline-block;
    box-sizing: border-box;
}

.helperbtn {
  margin-top: 0.3em;
}

.hidden {
  display: none;
}

.modal-wrapper {
  position: relative;
}

.modal-dialog {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.ref-wrapper.popover {
  max-width: 600px;
}

span.tip {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
  right: 28px;
}

.close {
  position: absolute;
  bottom: 8px;
  right: 10px;
  opacity: .5 !important;
}

.ref-header.popover-title {
  position: absolute;
  top: -10px;
  width: 596px;
  background-color: lightgray;
  border-bottom: 2px solid #3cafc3;
}

.ref-body.popover-content {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 35px;
}

.helperbtn.btn-info {
  background: #3cafc3;
  border-color: #008198;
  color: white;
}

.helperbtn.btn-info:hover {
  background: #369db0;
  border-color: #008198;
  color: white;
}

button[name="__action_start"].btn-default {
  background: #3cafc3;
  border-color: #008198;
  color: white;
  margin-top: 0.8em;
}

button[name="__action_start"].btn-default:hover {
  background: #369db0;
  border-color: #008198;
  color: white;
}

button[name="__action_save"].btn-default {
  background: #3cafc3;
  border-color: #008198;
  color: white;
  margin-right: 2em;
}

button[name="__action_save"].btn-default:hover {
  background: #369db0;
  border-color: #008198;
  color: white;
}

button[name="__action_finish"].btn-default {
  background: #dc3545;
  border-color: #bd2130;
  color: white;
  margin-right: 2em;
}

button[name="__action_finish"].btn-default:hover {
  background: #c82333;
  border-color: #bd2130;
  color: white;
}

code.example {
  background-color: lightgray;
  border: 1px solid #999;
  display: block;
  padding: 2px 4px;
  font-size: 90%;
  color: black;
  border-radius: 4px;
}

.autosave {
  width: 800px;
}

.pending  {
  float: left !important;
  position: relative;
  left: 753px;
  bottom: 2px;
}

.saved {
  float: left !important;
  position: relative;
  left: 718px;
  bottom: 2px;
}
